#include "Resource.h"

#ifdef APSTUDIO_INVOKED
#error invoked by Visual Studio
#endif

/////////////////////////////////////////////////////////////////////////////
// Application icon
IDI_APP_ICON   ICON    "icon.ico"
IDR_BG_PNG     RCDATA  "bg.png"
